<h1><%= title %></h1><p><em><span class="red">Red</span> text is the live segment.</em></p>
<ul>
	<% for(var i = 0; i < segments.length; i++) { %>
	<li <% if( segments[i].type == 'live') { %>class="red" <% } %>>
		<strong><%= segments[i].segment_start_date_gmt %><br/>
		<%= segments[i].segment_start_date_et %> :</strong>
		<%= segments[i].title %> (<%= segments[i].segment_id %>)
	</li>
	<% } %>
</ul>