<h1><%= title %></h1>
<ul>
	<% for(var i=0; i<segments.length; i++) {%>
	<li <% if( segments[i].type == 'live') { %>style="color:#ff0000;"<% } %> >
		<strong><%= segments[i].segment_start_date_gmt%><br/>
			<%= new Date( segments[i].segment_start_date_gmt ).toUTCString() %> :</strong> <%= segments[i].title %> (<%= segments[i].segment_id %>)
	</li>
	<% } %>
</ul>